@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300&display=swap");
/* imported fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Red Hat Mono', monospace; */

Body {
  background-color: rgb(0, 0, 0);
  color: rgb(109, 255, 90);
  text-align: center;
  font-size: 1rem;
}
#red-hat-mono {
  font-family: "Red Hat Mono", monospace;
}
#rajdhani {
}
#press-start-2p {
  font-family: "Press Start 2P", cursive;
}
#permanent-marker {
  font-family: "Permanent Marker", cursive;
}
/* //////////////////Users List////////////////// */
.users-container {
  /* outline: 1px solid white; */
  max-width: 15rem;
  text-align: left;
  font-family: "Rajdhani", sans-serif;
}
.users-container h2 {
  font-family: "Press Start 2P", cursive;
}
/* //////////////////Log In Component////////////////// */

.login-component {
  background-color: rgb(0, 0, 0);
  padding: 6rem;
  margin: 6rem;
  min-height: 10rem;
}
#timer-text {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
}
.form-wrapper {
  font-family: "Press Start 2P", cursive;
  border: none;
  outline: none;
  font-size: 1.5rem;
  text-align: left;
}
.form-wrapper input {
  font-family: "Press Start 2P", cursive;
  margin: 1rem;
  background-color: transparent;
  color: white;
  position: relative;
}
.form-wrapper #form-input-before {
  font-size: 1.5rem;
}
.form-wrapper #form-input {
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
}
.form-wrapper #form-submit {
  cursor: pointer;
  font-size: 1.5rem;
}
textarea:focus,
input:focus {
  outline: none;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* ///////////////////////////GAME.JS//////////////////////////////////////////////// */
