@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@300&display=swap");
/* imported fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Red Hat Mono', monospace; */

Body {
  background-color: rgb(0, 0, 0);
  color: rgb(109, 255, 90);
  font-size: 1rem;
  padding: 0 2rem 0 2rem;
}
/* //to switch class and not display els */
.no {
  display: none;
}

/* //////////////////Log In Component////////////////// */
.login-component {
  background-color: rgb(0, 0, 0);
  padding: 6rem;
  margin: 6rem;
  min-height: 10rem;
}
#timer-text {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
}
.form-wrapper {
  font-family: "Press Start 2P", cursive;
  border: none;
  outline: none;
  font-size: 1.5rem;
  text-align: left;
}
.form-wrapper input {
  font-family: "Press Start 2P", cursive;
  margin: 1rem;
  background-color: transparent;
  color: white;
  position: relative;
}
.form-wrapper #form-input-before {
  font-size: 1.5rem;
}
.form-wrapper #form-input {
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
}
.form-wrapper #form-submit {
  cursor: pointer;
  font-size: 1.5rem;
}
textarea:focus,
input:focus {
  outline: none;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* ///////////////////////////SHOW ELS AFTER LOGIN//////////////////////////////////////////////// */
#at-helm {
  font-family: "Press Start 2P", cursive;
}
.after-login-container {
  display: flex;
  gap: 4rem;
}
/* ///////////////////////////GAME.JS//////////////////////////////////////////////// */
.game-wrapper {
  font-family: "Press Start 2P", cursive;
}
.start-button {
  font-size: 4rem;
  text-decoration: underline;
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
.start-button:hover {
  cursor: pointer;
}

.answer-button {
  background-color: rgb(109, 255, 90);
  font-family: "Press Start 2P", cursive;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.answer-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.game-screen {
  width: 70vw;
  height: 90vh;
  font-family: "Rajdhani", sans-serif;
  border: 1px solid rgb(109, 255, 90);
  text-align: center;
}
.q-images {
  height: 50vh;
  max-width: 60vw;
}
.answer-container {
  display: flex;
}
/* //////////////////Users List////////////////// */
.users-container {
  width: 25vw;
  height: 90vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
}
.users-container h2 {
  font-family: "Press Start 2P", cursive;
}
